* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161a23;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background: rgba(255, 255, 255, .1);
}
.main .nav {

    position: relative;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.main .nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
    transition: all .5s ease-in-out;
    transition-delay: calc(.1s * var(--i));

}
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
    transition-delay: .4s;
    pointer-events: none;
}

.main .nav.active span {
    width: 45px;
    height: 45px;
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
    background: #1f2536;
}


.main .nav.active ~ .close {
    background: #e20303;
    width: 40px;
    height: 40px;
    pointer-events: initial;
    transition-delay: .8s;
}

.main .nav span ion-icon {
    color: #fff;
    font-size: 0em;
    transition: .3s ease-in;
}
.main .nav.active span ion-icon {
    font-size: 1.4em;
}
.main .nav.active span:hover ion-icon {
    color: #e20303;
    filter: drop-shadow(0 0 2px #e20303) drop-shadow(0 0 5px #e20303) drop-shadow(0 0 15px #e20303);
}

.main .nav ~ .close ion-icon {
    font-size: 2em;
    scale: 0;
    color: #10131c;
    transition: .5s ease;
}

.main .nav.active ~ .close ion-icon {
    scale: 1;
    transition-delay: 1s;

}